@{

    ViewData["Title"] = "Login";
}
<script src="~/js/face-api.min.js"></script>
<style>

    * {
        padding: 0;
        margin-left: 0px !important;
        font-family: "poppins", sans-serif;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        background: url("https://images.unsplash.com/photo-1674907534695-e82d5b3ec405?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Nzc2MDczOTQ&ixlib=rb-4.0.3&q=80") no-repeat;
        background-position: center;
        background-size: cover;
    }

        section:before {
            content: "";
            background-color: #0009;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }

    .form-box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 400px;
        height: 450px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        backdrop-filter: blur(15px);
    }

    h2 {
        color: #fff;
        text-align: center;
        font-size: 2em;
    }

    .inputbox {
        position: relative;
        border-bottom: 2px solid #fff;
        margin: 30px 0;
        width: 310px;
    }

        .inputbox label {
            transform: translateY(-50%);
            color: #fff;
            font-size: 1em;
            pointer-events: none;
            transition: 0.5s;
            position: absolute;
            top: 50%;
            left: 5px;
        }

    input:focus ~ label,
    input:valid ~ label {
        top: -5px;
    }

    .inputbox input {
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        padding: 0 35px 0 5px;
        color: #fff;
        width: 100%;
        height: 50px;
    }

    .inputbox ion-icon {
        font-size: 1.2em;
        position: absolute;
        right: 8px;
        color: #fff;
        top: 20px;
    }

    .forget {
        color: #fff;
        display: flex;
        justify-content: space-between;
        margin: -15px 0 15px;
        font-size: 0.9em;
    }

        .forget label {
            color: #fff;
        }

            .forget label input {
                margin-right: 3px;
            }

            .forget label a,
            .forget a {
                color: #fff;
                text-decoration: none;
            }

                .forget label a:hover {
                    text-decoration: underline;
                }

    button {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
    }

    .register {
        font-size: 0.9em;
        color: #fff;
        text-align: center;
        margin: 25px 0 10px;
    }

        .register p a {
            text-decoration: none;
            color: #fff;
            font-weight: 600;
        }

            .register p a:hover {
                text-decoration: underline;
            }

</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<section>
    <div class="form-box">
        <div class="form-value">

            <h2> Login</h2>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" id="userName" name="userName" autocomplete="off" autofocus="off" required>
                <label for="">Username</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" id="password" name="password" autocomplete="new-password" required>
                <label for="">Password</label>
            </div>
            <div id="errorMessage" style="margin-top:1%;margin-bottom:1%;color:red"></div>
            <button type="submit" onclick="Login()">Log in</button>
            <div class="register">
                <p>Om Software Solutions</p>
            </div>

        </div>
    </div>
</section>
<video id="video" style="width:100%" height="400" autoplay muted></video>
<script>
    var userFaceDescriptor;
    function Login() {
        $.ajax({
            type: "GET",
            url: '/Users/LoginUser',
            data: {
                userName: $('#userName').val(),
                password: $('#password').val()
            },
            success: function (response) {
                if (response.success) {
                    if (response.isFaceAdded) {
                        localStorage.setItem('userID', response.userID);
                        window.location.href = '/Home/Index';
                    }else{
                        registerFace();
                    }

                } else {
                    $('#errorMessage').text(response.message);
                }
            },
            error: function (response) {
            }
        });
    }
    document.addEventListener('DOMContentLoaded', async () => {
        await loadModels();
        
    });
    async function setupCamera() {
        const video = document.getElementById('video');
        const stream = await navigator.mediaDevices.getUserMedia({ video: {} });
        video.srcObject = stream;
        return new Promise((resolve) => {
            video.onloadedmetadata = () => {
                video.play();
                resolve(video);
            };
        });
    }

    async function loadModels() {
        const MODEL_URL = 'https://raw.githubusercontent.com/justadudewhohacks/face-api.js/master/weights';

        await faceapi.nets.tinyFaceDetector.loadFromUri(MODEL_URL);
        await faceapi.nets.faceLandmark68Net.loadFromUri(MODEL_URL);
        await faceapi.nets.faceRecognitionNet.loadFromUri(MODEL_URL);
    }

    async function registerFace() {
        const video = await setupCamera();
        const detections = await faceapi.detectSingleFace(video, new faceapi.TinyFaceDetectorOptions()).withFaceLandmarks().withFaceDescriptor();

        if (detections) {
            const descriptors = [detections.descriptor];
            const labeledDescriptors = new faceapi.LabeledFaceDescriptors('registeredFace', descriptors);
            userFaceDescriptor = JSON.stringify(labeledDescriptors);
            alert('Face captured successfully!');
            SaveFaceDescriptor();
        } else {
            alert('No face detected, please try again.');
        }
    }


    function SaveFaceDescriptor() {
        let username = $('#userName').val();
        if (username != '' && userFaceDescriptor != '') {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveFaceDescriptor", "Users")',
                data: { username: username, face: userFaceDescriptor },
                success: function (response) {
                    if (response) {
                        alert("Face Data Added Successfully");
                        stopCamera();
                    }
                    else {
                        msgPopup("error", "Error! Please Try Again");
                    }
                },
                error: function (response) {

                }
            });
        } else {
            alert("Please Enter Username or Add face");
        }
    }
    function stopCamera() {
        const video = document.getElementById('video');
        video.pause();
        if (video.srcObject) {
            const stream = video.srcObject;
            const tracks = stream.getTracks();
            tracks.forEach(track => track.stop());
            video.srcObject = null;
        }
    }
</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>