<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal" onclick="OpenPopup()">
    ADD USER
</button>

<!-- Modal Structure -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User Information Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <!-- First Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="firstName" class="form-label">First Name</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="userId" hidden>
                                    <input type="text" class="form-control" id="firstName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">Last Name</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="lastName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Second Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="userName" class="form-label">User Name</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="userName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="password" class="form-label">Password</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" id="password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Third Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="roles" class="form-label">Roles</label>
                                </div>
                                <div class="col-md-6">
                                    <select  class="form-select" id="roles"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="mobileNo" class="form-label">Mobile No</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="mobileNo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Fourth Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="imageString" class="form-label">Image String</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="file" class="form-control" id="imageString">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="idProof" class="form-label">ID Proof</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="file" class="form-control" id="idProof">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Fifth Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="fkCountry" class="form-label">Country</label>
                                </div>
                                <div class="col-md-6"> 
                                    <select id="fkCountry" class="form-select">
                                        @*<option></option>*@
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="fkState" class="form-label">State</label>
                                </div>
                                <div class="col-md-6">
                                    <select  class="form-select" id="fkState"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Sixth Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="fkCity" class="form-label">City</label>
                                </div>
                                <div class="col-md-6">
                                    <select  class="form-select" id="fkCity"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="pinCode" class="form-label">Pin Code</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="pinCode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Seventh Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="highestQualification" class="form-label">Highest Qualification</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="highestQualification">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="faceDescriptor" class="form-label">Face Descriptor</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="faceDescriptor">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <div class="col-md-12 container-fluid">
        <table id="tblUsers" class="display table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>UserName</th>
                    <th>Qualification</th>
                    <th>Roles</th>
                    <th>Mobile No</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
<script>
   
    var userIdPrrof;
    var userImageString;
    $(document).ready(function () {
        GetData();
        $('#tblUsers').on('click', '.btn-edit', function () {
            var fullData = JSON.parse($(this).attr('data-full-data'));
            BindData(fullData);
        });
        $('#tblUsers').on('click', '.btn-delete', function () {
            var ID = JSON.parse($(this).attr('dataId'));
            confirmDelete(ID);
        });

    })


    $('#idProof').on('change', function (event) {
        ConvertToBase64(event.target).then(base64 => {
            userIdPrrof = base64;
        });
    });
    $('#imageString').on('change', function (event) {
        ConvertToBase64(event.target).then(base64 => {
            userImageString = base64;
        });
    });
    function OpenPopup(){
        $('#userModal').modal('toggle');
    }
    //document.getElementById('downloadIdProof').addEventListener('click', function () {
    //    if (userIdPrrof) {
    //        const mimeType = userIdPrrof.split("~")[0];
    //        const fileName = $('#patientName').val() + "_IdProof.";

    //        downloadFile(userIdPrrof.split("~")[1], mimeType, fileName);
    //    } else {
    //        alert('No file available to download');
    //    }
    //});
    function downloadFile(base64String, fileType, fileName) {
        const link = document.createElement('a');
        link.href = `data:${fileType};base64,${base64String}`;
        link.download = fileName + fileType.split("/")[1];
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
    function AddUser() {
        var data = {};
        data.Id = $('#userId').val();
        data.FirstName = $('#firstName').val();
        data.LastName = $('#lastName').val();
        data.UserName = $('#userName').val();
        data.Password = $('#password').val();
        data.Roles = $('#roles').val();
        data.MobileNo = $('#mobileNo').val();
        data.fkCountry = $('#fkCountry').val();
        data.IdProof = userIdPrrof;
        data.ImageString = userImageString;
        data.fkState = $('#fkState').val();
        data.fkCity = $('#fkCity').val();
        data.PinCode = $('#pinCode').val();
        data.HighestQualification = $('#highestQualification').val();
        data.faceDescriptor = $('#faceDescriptor').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddorEditUser", "Users")',
            data: data,
            success: function (response) {

            },
            error: function (response) {

                console.error(response);
            }
        });
    }

    function GetData() {
        var table = $('#tblUsers').DataTable();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetData", "Users")',
            // data: data,
            success: function (response) {
                table.clear();
                response.data.forEach(function (item) {
                    table.row.add([
                        item.firstName + " " item.lastName,
                        item.userName,
                        item.highestQualification,
                        item.roles,
                        item.mobileNo,
                        '<i class="fa fa-edit me-4 ml-2 btn-edit" style="color:green" data-full-data=\'' + JSON.stringify(item).replace(/'/g, "&#39;") + '\'></i>' +
                        '<i class="fa fa-trash ml-2 btn-delete"  style="color:red" dataId=\'' + JSON.stringify(item.id).replace(/'/g, "&#39;") + '\'></i>'
                    ]).draw();
                });
            },
            error: function (response) {

                console.error(response);
            }
        });
    }


    function BindData(data) {
        $('#oldAgePatientId').val(data.id);
        $('#firstName').val(data.firstName);
        $('#lastName').val(data.lastName);
        $('#userName').val(data.userName);
        $('#password').val(data.password);
        $('#roles').val(data.roles);
        $('#mobileNo').val(data.mobileNo);
        $('#fkCountry').val(data.fkCountry);
        $('#fkState').val(data.fkState);
        $('#fkCity').val(data.fkCity);
        $('#pinCode').val(data.pinCode);
        $('#highestQualification').val(data.highestQualification);
        $('#faceDescriptor').val(data.faceDescriptor);
        userIdPrrof = data.idProof;
        userImageString = data.imageString;
        //  data.PaymentStatus = "Pending";
        $('#userModal').modal('toggle');
    }

    function confirmDelete(id){
        $.alert({
            title:'Alert',
            content: 'Are you sure want to delete ?',
            typeAnimated: true,
            backgroundDismiss: false,
            backgroundDismissAnimation: 'glow',
            boxWidth: '30%',
            useBootstrap: false,
            buttons: {
                Yes: {
                    text: 'Yes',
                    btnClass: 'btn btn-success',
                    action: function () {
                     //  deleteData(id);
                    },
                },
                No: {
                    text: 'No',
                    btnClass: 'btn btn-warning',
                    action: function () {
                      return;
                    },
                },
            },
        });
    }
    function deleteData(id){
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteUser", "Users")',
            data: {id:id},
            success: function (response) {

            },
            error: function (response) {

                console.error(response);
            }
        });
    }
</script>