<script src="~/js/face-api.min.js"></script>

<style>
    #video-container {
        border: 1px solid black; /* Change color and size as needed */
        width: 100%;
        height: 400px;
        box-sizing: border-box; /* Ensures padding and border are included in the total width/height */
    }
</style>
<!-- Modal Structure -->
<div class="modal fade" id="userModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="custom-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User Information Form</h5>
                <button type="button" class="btn-close" onclick="HidePopup('userModal')" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <!-- First Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="firstName" class="form-label">First Name</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="userId" hidden class="UserIPfields">
                                    <input type="text" class="form-control UserIPfields" id="firstName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">Last Name</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control UserIPfields" id="lastName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Second Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="userName" class="form-label">User Name</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control UserIPfields" id="userName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="password" class="form-label">Password</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="password" class="form-control UserIPfields" id="password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Third Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="roles" class="form-label">Roles</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-select UserIPfields" id="roles">
                                        <option value="admin">Admin</option>
                                        <option value="supervisor">Supervisor</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="mobileNo" class="form-label">Mobile No</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control UserIPfields" id="mobileNo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Fourth Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="imageString" class="form-label">Image String</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="file" class="form-control" id="imageString">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="idProof" class="form-label">ID Proof</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="file" class="form-control" id="idProof">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Sixth Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="fkCity" class="form-label">City</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-select UserIPfields" id="fkCity"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="pinCode" class="form-label">Pin Code</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control UserIPfields" id="pinCode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Seventh Field Pair -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="highestQualification" class="form-label">Highest Qualification</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control UserIPfields" id="highestQualification">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="HidePopup('userModal')">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="AddUser()">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="usersTab" data-toggle="tab" href="#userTabContent" role="tab" aria-controls="home" aria-selected="true">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="faceRecognition" data-toggle="tab" href="#facetabContent" role="tab" aria-controls="profile" aria-selected="false">Face Lock</a>
        </li>

    </ul>
    <div class="tab-content mt-2" id="myTabContent">
        <div class="tab-pane fade show active" id="userTabContent" role="tabpanel" aria-labelledby="home-tab">
            <div class="container-fluid mb-2">
                <button type="button" class="customBtn" onclick="OpenPopup();">
                    <i class="fa fa-add me-1"></i>  ADD USER
                </button>
            </div>
            <table id="tblUsers" class="display table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>UserName</th>
                        <th>Face Added</th>
                        <th>Roles</th>
                        <th>Mobile No</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="facetabContent" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="row col-12" style="display:flex;justify-content:space-evenly">
                        <div class="col-2">
                            <strong> Select User :</strong>
                        </div>
                        <div class="col-4">
                            <select class="form-select" id="ddlUsers"></select>
                        </div>
                        <div class="col-2">
                            <button id="captureFaceBtn" class="customBtn">Capture Face</button>
                        </div>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-6 mt-4">
                        <div id="video-container">
                            <video id="video" style="width:100%" height="400" autoplay muted></video>
                        </div>
                    </div>
                    <div class="row contentCenter mt-2">
                        <div class="col-auto">
                            <button class="btn btn-success" onclick="SaveFaceDescriptor();">Save Fave</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        
    </div>
</div>


@*<h1>Face Recognition</h1>

<button id="registerBtn">Register Face</button>
<button id="loginBtn">Login with Face</button>*@
<script>

    var userIdPrrof;
    var userImageString;
    var userFaceDescriptor;
    $(document).ready(function () {
         GetUsersData();
         BindCityDdl();
        userFaceDescriptor = '';
        $('#tblUsers').on('click', '.btn-edit', function () {
            var fullData = JSON.parse($(this).attr('data-full-data'));
            BindData(fullData);
        });
        $('#tblUsers').on('click', '.btn-delete', function () {
            var ID = JSON.parse($(this).attr('dataId'));
            confirmDelete(ID);
        });
        $('#idProof').on('change', function (event) {
            ConvertToBase64(event.target).then(base64 => {
                userIdPrrof = base64;
            });
        });
        $('#imageString').on('change', function (event) {
            ConvertToBase64(event.target).then(base64 => {
                userImageString = base64;
            });
        });
        $('#faceRecognition').on('click',function(){
            
        });
    });
    document.addEventListener('DOMContentLoaded', async () => {
        await loadModels();
        document.getElementById('captureFaceBtn').addEventListener('click', registerFace);
    });


    function OpenPopup() {
        $('.UserIPfields').val();
        userIdPrrof = '';
        userImageString = '';
        showPopup('userModal');
    }
    //document.getElementById('downloadIdProof').addEventListener('click', function () {
    //    if (userIdPrrof) {
    //        const mimeType = userIdPrrof.split("~")[0];
    //        const fileName = $('#patientName').val() + "_IdProof.";

    //        downloadFile(userIdPrrof.split("~")[1], mimeType, fileName);
    //    } else {
    //        alert('No file available to download');
    //    }
    //});
    function downloadFile(base64String, fileType, fileName) {
        const link = document.createElement('a');
        link.href = `data:${fileType};base64,${base64String}`;
        link.download = fileName + fileType.split("/")[1];
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
    function AddUser() {
        var formData = new FormData();
        formData.append('Id', $('#userId').val());
        formData.append('FirstName', $('#firstName').val());
        formData.append('LastName', $('#lastName').val());
        formData.append('UserName', $('#userName').val());
        formData.append('Password', $('#password').val());
        formData.append('Roles', $('#roles').val());
        formData.append('MobileNo', $('#mobileNo').val());
        formData.append('IdProof', userIdPrrof); // Assuming userIdPrrof is a file object or relevant data
        formData.append('ImageString', userImageString); // Assuming userImageString is a file object or relevant data
        formData.append('fkCity', $('#fkCity').val());
        formData.append('PinCode', $('#pinCode').val());
        formData.append('HighestQualification', $('#highestQualification').val());

        $.ajax({
            type: "POST",
            url: '@Url.Action("AddorEditUser", "Users")',
            data: formData,
           processData: false, // Required for FormData
            contentType: false, // Required for FormData
            traditional:true,
            async:false,
            success: function (response) {
                if (response) {
                    if ($('#userId').val() == '') {
                        msgPopup("success", "User Added Successfully");
                    } else {
                        msgPopup("success", "User Updated Successfully");
                    }
                }
                else {
                    msgPopup("error", "Error! Please Try Again");
                }
            },
            error: function (response) {

                console.error(response);
            }
        });
    }

    function GetUsersData() {
        var table = $('#tblUsers').DataTable();

        $.ajax({
            url: '/Users/GetData', // Ensure this URL is correct and matches your route
            type: 'GET', // Use GET method
            dataType: 'json', // Ensure the expected data type is JSON
            success: function (response) {
                table.clear().draw();
                response.data.forEach(function (item) {
                    table.row.add([
                        item.firstName + " " + item.lastName, // Added a "+" sign between firstName and lastName
                        item.userName,
                        item.isFaceAdded ? '<div class="contentCenter"><span class="badge bg-success p-1">True</span></div>' : '<div class= "contentCenter"> <span class="badge bg-danger p-1" > False < /span></div>',
                        item.roles,
                        item.mobileNo,
                        '<div class= "contentCenter" > <i class="fa fa-edit me-4 ml-2 btn-edit" style = "color:green" data - full - data=\'' + JSON.stringify(item).replace(/'/g, "&#39;") + '\'></i>' +
                        '<i class="fa fa-trash ml-2 btn-delete" style="color:red" data-id="' + item.id + '"></i></div>' // Use data-id for storing the id attribute
                    ]).draw();
                });
                BindUserDropdown(response.data); // Call your dropdown binding function
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText); // Log detailed error info
            }
        });
    }

    function BindUserDropdown(data) {
        // Get the dropdown element by ID
        const ddlUsers = document.getElementById("ddlUsers");

        ddlUsers.innerHTML = "";

        const defaultOption = document.createElement("option");
        defaultOption.text = "Select User";
        defaultOption.value = "";
        ddlUsers.appendChild(defaultOption);

        data.forEach(item => {
            const option = document.createElement("option");
            option.value = item.userName; // Set the value to userName
            option.text = item.firstName + " " + item.lastName; // Set the text to firstName + lastName
            ddlUsers.appendChild(option);
        });
    }

    async function setupCamera() {
        const video = document.getElementById('video');
        const stream = await navigator.mediaDevices.getUserMedia({ video: {} });
        video.srcObject = stream;
        return new Promise((resolve) => {
            video.onloadedmetadata = () => {
                video.play();
                resolve(video);
            };
        });
    }

    async function loadModels() {
        const MODEL_URL = 'https://raw.githubusercontent.com/justadudewhohacks/face-api.js/master/weights';

        await faceapi.nets.tinyFaceDetector.loadFromUri(MODEL_URL);
        await faceapi.nets.faceLandmark68Net.loadFromUri(MODEL_URL);
        await faceapi.nets.faceRecognitionNet.loadFromUri(MODEL_URL);
    }

    async function registerFace() {
        const video = await setupCamera();
        const detections = await faceapi.detectSingleFace(video, new faceapi.TinyFaceDetectorOptions()).withFaceLandmarks().withFaceDescriptor();

        if (detections) {
            const descriptors = [detections.descriptor];
            const labeledDescriptors = new faceapi.LabeledFaceDescriptors('registeredFace', descriptors);
            userFaceDescriptor = JSON.stringify(labeledDescriptors);
            alertMessage('Face captured successfully!');
        } else {
            alertMessage('No face detected, please try again.');
        }
    }


    function SaveFaceDescriptor() {
        let username = $('#ddlUsers').val();
        if (username != '' && userFaceDescriptor != '') {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveFaceDescriptor", "Users")',
                data: { username: username, face: userFaceDescriptor },
                success: function (response) {
                    if (response) {
                        msgPopup("success", "Face Data Added Successfully");
                        stopCamera();
                        GetUsersData();
                    }
                    else {
                        msgPopup("error", "Error! Please Try Again");
                    }
                },
                error: function (response) {

                }
            });
        } else {
            alertMessage("Please Select User or Add face");
        }
    }
    function BindData(data) {
        $('#userId').val(data.id);
        $('#firstName').val(data.firstName);
        $('#lastName').val(data.lastName);
        $('#userName').val(data.userName);
        $('#password').val(data.password);
        $('#roles').val(data.roles);
        $('#mobileNo').val(data.mobileNo);
        $('#fkCountry').val(data.fkCountry);
        $('#fkState').val(data.fkState);
        $('#fkCity').val(data.fkCity);
        $('#pinCode').val(data.pinCode);
        $('#highestQualification').val(data.highestQualification);
        $('#faceDescriptor').val(data.faceDescriptor);
        userIdPrrof = data.idProof;
        userImageString = data.imageString;
        //  data.PaymentStatus = "Pending";
        showPopup('userModal');
    }

    function confirmDelete(id) {
        $.alert({
            title: 'Alert',
            content: 'Are you sure want to delete ?',
            typeAnimated: true,
            backgroundDismiss: false,
            backgroundDismissAnimation: 'glow',
            boxWidth: '30%',
            useBootstrap: false,
            buttons: {
                Yes: {
                    text: 'Yes',
                    btnClass: 'btn btn-success',
                    action: function () {
                          deleteData(id);
                    },
                },
                No: {
                    text: 'No',
                    btnClass: 'btn btn-warning',
                    action: function () {
                        return;
                    },
                },
            },
        });
    }
    function deleteData(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteUser", "Users")',
            data: { id: id },
            success: function (response) {
                if (response) {
                        msgPopup("success", "User Deleted Successfully");
                    }
                    else {
                        msgPopup("error", "Error! Please Try Again");
                    }
            },
            error: function (response) {

                console.error(response);
            }
        });
    }
    function stopCamera() {
        const video = document.getElementById('video');
        video.pause();
        if (video.srcObject) {
            const stream = video.srcObject;
            const tracks = stream.getTracks();
            tracks.forEach(track => track.stop());
            video.srcObject = null;
        }
    }
    function BindCityDdl() {
        
        $.ajax({
            type: "POST",
            url: '/Configuration/GetCityData',
            success: function (response) {
                const ddlCity = document.getElementById("fkCity");
                ddlCity.innerHTML = "";
                const defaultOption = document.createElement("option");
                defaultOption.text = "Select City";
                defaultOption.value = "";
                ddlCity.appendChild(defaultOption);
                response.data.forEach(function (item) {
                        const option = document.createElement("option");
                        option.value = item.id;
                        option.text = item.name 
                        ddlCity.appendChild(option);
                });
            },
            error: function (xhr, status, error) {
                alert('An error occurred: ' + error);
            }
        });
    }
</script>