<script src="https://cdn.tailwindcss.com"></script>
<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 mt-4 mb-2">
    <div class="container-fluid">
        <button type="button" class="customBtn" onclick="ClearInputFields();">
            Add Helper
        </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="helperModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Helper Application Form</h5>
                <button type="button" class="close" onclick="HidePopup('helperModal')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body registrationFormContent">
                <form>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="row mt-2">
                                        <div class="col-3">
                                            <img src="~/images/plus icon.png" style="height:70px;width:90px" />
                                        </div>
                                        <div class="col-6 contentCenter">
                                            <label style="font-family:fantasy;font-size:50px;color:red;letter-spacing:5px">VEDHANTH</label>

                                        </div>
                                        <div class="col-3 contentEnd">
                                            <label for="candidateImg">
                                                <img id="preview-image" style="height:80px;width:80px; cursor: pointer;border:1px solid;" onclick="chooseOption()" />
                                            </label>
                                            <input type="file" id="candidateImg" accept="image/*" style="display: none;" onchange="previewImage(event)">
                                        </div>

                                        <div class="col-2"></div>
                                        <div class="col-8 contentCenter" style="margin-top:-20px">
                                            <label style="font-size:26px;color:red;margin-top:-5px;font-weight:500">Home Nursing Helpline</label>
                                        </div>
                                    </div>
                                    <div id="customAddress">
                                        <div class="contentCenter">
                                            <span id="customAdreesLine1" style="font-weight:500;font-size:smaller">No.69,New No. 6/1, 1st Cross, 3rd Main Road, Mathikere, Bengaluru-560 054.</span>
                                        </div>
                                        <div class="contentCenter">
                                            <span id="customAdreesLine2" style="font-weight:500;font-size:smaller;">Mob :9916916843, 9902765441, 7022396109 Email:vedhanthhomecare6843@gmail.com</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">
                                    <div class="row mt-2">
                                        <label for="" class="col-7 contentEnd" style="color:red;font-size:large;font-weight:500">Application Form:</label>
                                        <div class="row col-5 ">

                                            <span class="col-5">No :</span>
                                            <input class="col-7" type="number" style="height:25px" min="0" />
                                        </div>
                                        <div class="col-7"></div>
                                        <div class="row col-5 mt-2 contentEnd">
                                            <span class="col-5">Date :</span>
                                            <input class="col-7" type="date" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <input type="hidden" id="helperId" />
                                <td><label for="candidateName">Name in full:</label></td>
                                <td><input type="text" class="form-control inputFields" id="candidateName"></td>
                            </tr>
                            <tr>
                                <td><label for="parentName">Father's / Husband's Name:</label></td>
                                <td><input type="text" class="form-control inputFields" id="parentName"></td>
                            </tr>
                            <tr>
                                <td><label for="candidateDOB">Date of Birth:</label></td>
                                <td><input type="date" class="form-control inputFields" id="candidateDOB"></td>
                            </tr>
                            <tr>
                                <td><label for="maritalStatus">Marital Status:</label></td>
                                <td><input type="text" class="form-control inputFields" id="maritalStatus"></td>
                            </tr>
                            <tr>
                                <td><label for="permanentAddress">Permanent address & Contact No.:</label></td>
                                <td><input type="text" class="form-control inputFields" id="permanentAddress"></td>
                            </tr>
                            <tr>
                                <td><label for="presentAddress">Present address & Contact No.:</label></td>
                                <td><input type="text" class="form-control inputFields" id="presentAddress"></td>
                            </tr>
                            <tr>
                                <td><label for="education">Educational Qualification:</label></td>
                                <td><input type="text" class="form-control inputFields" id="education"></td>
                            </tr>
                            <tr>
                                <td><label for="languages">Languages Known:</label></td>
                                <td><input type="text" class="form-control inputFields" id="languages"></td>
                            </tr>
                            <tr>
                                <td><label for="experience">Experience (Give Full details):</label></td>
                                <td><input type="text" class="form-control inputFields" id="experience"></td>
                            </tr>
                            <tr>
                                <td><label for="idProof">Personal ID Proof:</label></td>
                                <td><input type="file" class="form-control inputFields" id="idProof"></td>
                            </tr>
                            <tr class="confidential">
                                <td><label for="salary">Salary expected:</label></td>
                                <td><input type="text" class="form-control inputFields" id="salary"></td>
                            </tr>
                            <tr>
                                <td><label for="referenceDetail">Reference (Give Name, Address & Contact No.):</label></td>
                                <td><input type="text" class="form-control inputFields" id="referenceDetail"></td>
                            </tr>
                            <tr>
                                <td><label for="famMembers">Family Particulars:</label></td>
                                <td><input type="text" class="form-control inputFields" id="famMembers"></td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <div>
                                        <b class="contentCenter">Rules for patient:</b>
                                        <b class="">There are few set of things that need to be followed before you take the nursing services.</b>
                                        <div style="display: flex; flex-direction: column;">
                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">1.</div>
                                                <div style="flex: 1; text-align: left;">Create a personal contact list.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">2.</div>
                                                <div style="flex: 1; text-align: left;">Keep the prescription and other reports ready.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">3.</div>
                                                <div style="flex: 1; text-align: left;">Contact list of your doctor.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">4.</div>
                                                <div style="flex: 1; text-align: left;">Make a list of task expected from the nurse.</div>
                                            </div>
                                        </div>
                                    </div>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                </td>

                            </tr>
                           
                            <tr>
                                <td colspan="2">

                                    <div>
                                        <b class="contentCenter">For Care Givers</b>
                                        <b>There are few set of things that need to be followed before you take the nursing services.</b>
                                        <div style="display: flex; flex-direction: column;">
                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">1.</div>
                                                <div style="flex: 1; text-align: left;">Help with everyday activities like bathing and dressing, meal preparation and to enable independence and safety.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">2.</div>
                                                <div style="flex: 1; text-align: left;">Long term, hourly nursing care at home for adults with chronic illness, injury or Disability.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">3.</div>
                                                <div style="flex: 1; text-align: left;">Companionship an engaging in hobbies and activities.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">4.</div>
                                                <div style="flex: 1; text-align: left;">Care provided on an ongoing basis on a schedule that meets a client's need to 24 hours a day, 7 days a week, including possible live-in-care.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">5.</div>
                                                <div style="flex: 1; text-align: left;">Without Office permission patient should not be taken out.</div>
                                            </div>
                                        </div>

                                        <b class="contentCenter">Terms and Conditions</b>
                                        <b>There are few set of things that need to be followed before you take the nursing services.</b>
                                        <div style="display: flex; flex-direction: column;">
                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">1.</div>
                                                <div style="flex: 1; text-align: left;">You will be on probation for a period of six months, if your service is found satisfactory then you will be confirmed. During your probation period your service can be terminated at any time, without prior notice.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">2.</div>
                                                <div style="flex: 1; text-align: left;">You should give prior notice before 30 days when you are leaving services, if not you are liable to lose the salary of 30 days.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">3.</div>
                                                <div style="flex: 1; text-align: left;">You will be offered a 6 month probation period after successful completion of the period you will be given a permanent employment in the company.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">4.</div>
                                                <div style="flex: 1; text-align: left;">You cannot take leave without prior information, Unless in emergency you must inform and take clearance otherwise your salary will be deducted.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">5.</div>
                                                <div style="flex: 1; text-align: left;">You will not start a similar business or any firm which directly or indirectly affects the company, if found, you will be legally prosecuted.</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="HidePopup('helperModal')">Close</button>
                <button type="button" class="btn btn-success" onclick="AddHelper()">Save changes</button>
                <button id="downloadRegistrationForm" class="btn btn-info">Download PDF</button>
            </div>
        </div>
    </div>
</div>

<div class="col-12 container-fluid">
    <table id="tblHelpers" class="display table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Candidate Name</th>
                <th>Permanent Address</th>
                <th>LanguagesKnown</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    var candidateImage = "";
    var helperIdProof = "";

    $(document).ready(function () {
        GetData();
    });

    document.getElementById('downloadRegistrationForm').addEventListener('click', function () {
        const element = document.querySelector('.registrationFormContent');
        element.style.transform = 'scale(1)';
        element.style.transformOrigin = 'top center';
        // Options for html2pdf
        const options = {
            margin: 0,
            filename: $('#candidateName').val() + '.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 3 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        html2pdf().from(element).set(options).save().finally(() => {

            element.style.transform = '';
            element.style.transformOrigin = '';
        });
    });
    function chooseOption() {
        $.alert({
            content: 'Do you want to Upload an Image or Capture the face',
            typeAnimated: true,
            backgroundDismiss: false,
            backgroundDismissAnimation: 'glow',
            boxWidth: '30%',
            useBootstrap: false,
            buttons: {
                Yes: {
                    text: 'Upload from Device',
                    btnClass: 'btn btn-info',
                    action: function () {
                        document.getElementById('candidateImg').click();

                    },
                },
                No: {
                    text: 'Capture Image',
                    btnClass: 'btn btn-warning',
                    action: function () {
                        captureImage();
                    },
                },
            },
        });
    }

    function captureImage() {
        var constraints = {
            video: true
        };

        navigator.mediaDevices.getUserMedia(constraints)
            .then(function (stream) {
                var video = document.createElement('video');
                video.autoplay = true;
                video.srcObject = stream;

                var canvas = document.createElement('canvas');
                var context = canvas.getContext('2d');

                video.onloadedmetadata = function () {
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    context.drawImage(video, 0, 0, canvas.width, canvas.height);
                    var imageDataURL = canvas.toDataURL('image/png');

                    var output = document.getElementById('preview-image');
                    output.src = imageDataURL;

                    video.srcObject.getTracks().forEach(track => track.stop());
                };
            })
            .catch(function (error) {
                console.log('Error accessing camera: ', error);
            });
    }

    $('#idProof').on('change', function (event) {
        ConvertToBase64(event.target).then(base64 => {
            helperIdProof = base64;
        });
    });

    $('#candidateImg').on('change', function (event) {
        ConvertToBase64(event.target).then(base64 => {
            candidateImage = base64;
        });
    });

    $('#tblHelpers').on('click', '.btn-edit', function () {
        var fullData = JSON.parse($(this).attr('data-full-data'));
        BindData(fullData);
    });
    $('#tblHelpers').on('click', '.btn-delete', function () {
        var ID = JSON.parse($(this).attr('dataId'));
        confirmDelete(ID);
    });

    function previewImage(event) {
        var input = event.target;
        var reader = new FileReader();

        if (input.files && input.files[0]) {
            reader.onload = function (e) {
                var output = document.getElementById('preview-image');
                output.src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        } else {
            alert("Failed to load file");
        }
    }
    // CRUD Operation
    function AddHelper() {
        var data = {};
        data.Id = $('#helperId').val();
        data.Name = $('#candidateName').val();
        data.ParentName = $('#parentName').val();
        data.Image = candidateImage;
        data.DateOfBirth = $('#candidateDOB').val();
        data.MaritalStatus = $('#maritalStatus').val();
        data.PermanentAddress = $('#permanentAddress').val();
        data.PresentAddress = $('#presentAddress').val();
        data.IdProof = helperIdProof;
        data.Education = $('#education').val();
        data.LanguagesKnown = $('#languages').val();
        data.Experience = $('#experience').val();
        data.Salary = $('#salary').val();
        data.Reference = $('#referenceDetail').val();
        data.FamilyMembers = $('#famMembers').val();
        data.suser = localStorage.getItem('username');
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddorEditHelper", "Helpers")',
            data: data,
            success: function (response) {
                if (response) {
                    let msg = $('#helperId').val() == '' ? "Data Added Successfully" : "Data Updated Successfully";
                    HidePopup('helperModal');
                    msgPopup("success", msg);
                    GetData();
                } else {
                    msgPopup("error", "Error! Please Try Again");
                }
            },
            error: function (response) {

                console.error(response);
            }
        });
    }

    function BindData(data) {
        $('#helperId').val(data.id);
        $('#candidateName').val(data.name);
        $('#parentName').val(data.parentName);
        $('#candidateImage').val(data.image);
        $('#candidateDOB').val(formatDate(new Date(data.dateOfBirth)));
        $('#maritalStatus').val(data.maritalStatus);
        $('#permanentAddress').val(data.permanentAddress);
        $('#presentAddress').val(data.presentAddress);
        $('#helperIdProof').val(data.idProof);
        $('#education').val(data.education);
        $('#languages').val(data.languagesKnown);
        $('#experience').val(data.experience);
        $('#salary').val(data.salary);
        $('#referenceDetail').val(data.reference);
        $('#famMembers').val(data.familyMembers);
        showPopup('helperModal');
    }

    function GetData() {
        var table = $('#tblHelpers').DataTable();
        let UserName = '';
        if (localStorage.getItem('userRole') != 'admin') {
            UserName = localStorage.getItem('username');
        }

        $.ajax({
            type: "POST",
            data: UserName,
            url: '@Url.Action("GetData", "Helpers")',
            // data: data,
            success: function (response) {
                table.clear().draw();
                response.data.forEach(function (item) {
                    table.row.add([
                        item.name,
                        item.permanentAddress,
                        item.languagesKnown,
                        '<i class="fa fa-edit me-4 ml-2 btn-edit" style="color:green" data-full-data=\'' + JSON.stringify(item).replace(/'/g, "&#39;") + '\'></i>' +
                        '<i class="fa fa-trash ml-2 btn-delete"  style="color:red" dataId=\'' + JSON.stringify(item.id).replace(/'/g, "&#39;") + '\'></i>'
                    ]).draw();
                });
            },
            error: function (response) {

                console.error(response);
            }
        });
    }

    function ClearInputFields() {
        $('.inputFields').val('');
        candidateImage = "";
        helperIdProof = "";
        showPopup('helperModal');
    }

    function confirmDelete(id) {
        $.alert({
            title: 'Alert',
            content: 'Are you sure want to delete ?',
            typeAnimated: true,
            backgroundDismiss: false,
            backgroundDismissAnimation: 'glow',
            boxWidth: '30%',
            useBootstrap: false,
            buttons: {
                Yes: {
                    text: 'Yes',
                    btnClass: 'btn btn-success',
                    action: function () {
                        deleteData(id);
                    },
                },
                No: {
                    text: 'No',
                    btnClass: 'btn btn-warning',
                    action: function () {
                        return;
                    },
                },
            },
        });
    }

    function deleteData(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteData", "Helpers")',
            data: { id: id },
            success: function (response) {
                if (response) {
                    msgPopup("success", "Data Deleted Successfully");
                    GetData();
                } else {
                    msgPopup("error", "Error! Please Try Again");
                }
            },
            error: function (response) {

            }
        });
    }
</script>

