<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Modal Form</title>
    <!-- Bootstrap CSS -->
    
</head>


    <!-- Button to trigger modal -->
    <div class="col-md-2">
        <div class="container">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Open Modal
            </button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h5 class="modal-title" id="exampleModalLabel">Patient Information Form</h5>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body registrationFormContent">
                    <form>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <div class="row mt-2">
                                            <div class="col-3">
                                                <img src="~/images/plus icon.png" style="height:70px;width:90px" />
                                            </div>
                                            <div class="col-6 contentCenter">
                                                <label style="font-family:fantasy;font-size:50px;color:red;letter-spacing:5px">VEDHANTH</label>

                                            </div>
                                            <div class="col-3 contentEnd">
                                                <label for="upload-btn">
                                                    <img id="preview-image" style="height:80px;width:80px; cursor: pointer;border:1px solid;" onclick="chooseOption()" />
                                                </label>
                                                <input type="file" id="upload-btn" accept="image/*" style="display: none;" onchange="previewImage(event)">
                                            </div>

                                            <div class="col-2"></div>
                                            <div class="col-8 contentCenter" style="margin-top:-20px">
                                                <label style="font-size:26px;color:red;margin-top:-5px;font-weight:500">Home Nursing Helpline</label>
                                            </div>
                                        </div>
                                        <div id="customAddress">
                                            <div class="contentCenter">
                                                <span id="customAdreesLine1" style="font-weight:500;font-size:smaller;margin-top:-10px">No.69,New No. 6/1, 1st Cross, 3rd Main Road, Mathikere, Bengaluru-560 054.</span>
                                            </div>
                                            <div class="contentCenter">
                                                <span id="customAdreesLine2" style="font-weight:500;font-size:smaller;">Mob :9916916843, 9902765441, 7022396109 Email:vedhanthhomecare6843@gmail.com</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td colspan="2">
                                        <div class="row mt-2">
                                            <label for="" class="col-7 contentEnd" style="color:red;font-size:large;font-weight:500">Application Form:</label>
                                            <div class="row col-5 ">

                                                <span class="col-5">No :</span>
                                                <input class="col-7" type="number" style="height:25px" min="0" />
                                            </div>
                                            <div class="col-7"></div>
                                            <div class="row col-5 mt-2 contentEnd">
                                                <span class="col-5">Date :</span>
                                                <input class="col-7" type="date" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="candidateName">Name in full:</label></td>
                                    <td><input type="text" class="form-control" id="candidateName"></td>
                                </tr>
                                <tr>
                                    <td><label for="parentName">Father's / Husband's Name:</label></td>
                                    <td><input type="text" class="form-control" id="parentName"></td>
                                </tr>
                                <tr>
                                    <td><label for="candidateDOB">Date of Birth:</label></td>
                                    <td><input type="date" class="form-control" id="candidateDOB"></td>
                                </tr>
                                <tr>
                                    <td><label for="maritalStatus">Marital Status:</label></td>
                                    <td><input type="text" class="form-control" id="maritalStatus"></td>
                                </tr>
                                <tr>
                                    <td><label for="permanentAddress">Permanent address & Contact No.:</label></td>
                                    <td><input type="text" class="form-control" id="permanentAddress"></td>
                                </tr>
                                <tr>
                                    <td><label for="presentAddress">Present address & Contact No.:</label></td>
                                    <td><input type="text" class="form-control" id="presentAddress"></td>
                                </tr>
                                <tr>
                                    <td><label for="education">Educational Qualification:</label></td>
                                    <td><input type="text" class="form-control" id="education"></td>
                                </tr>
                                <tr>
                                    <td><label for="languages">Languages Known:</label></td>
                                    <td><input type="text" class="form-control" id="languages"></td>
                                </tr>
                                <tr>
                                    <td><label for="experience">Experience (Give Full details):</label></td>
                                    <td><input type="text" class="form-control" id="experience"></td>
                                </tr>
                                <tr>
                                    <td><label for="idProof">Personal ID Proof:</label></td>
                                    <td><input type="file" class="form-control" id="idProof"></td>
                                </tr>
                                <tr class="confidential">
                                    <td><label for="salary">Salary expected:</label></td>
                                    <td><input type="text" class="form-control" id="salary"></td>
                                </tr>
                                <tr class="">
                                    <td><label for="referenceDetail">Reference (Give Name, Address & Contact No.):</label></td>
                                    <td><input type="text" class="form-control" id="referenceDetail"></td>
                                </tr>
                                <tr class="">
                                    <td><label for="famMembers">Family Particulars:</label></td>
                                    <td><input type="text" class="form-control" id="famMembers"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div>
                                            <b class="contentCenter">Rules for patient:</b>
                                            <b class="">There are few set of things that need to be followed before you take the nursing services.</b>
                                            <div style="display: flex; flex-direction: column;">
                                                <div style="display: flex; margin-top: 10px;">
                                                    <div style="width: 50px; font-weight: bold; text-align: center;">1.</div>
                                                    <div style="flex: 1; text-align: left;">Create a personal contact list.</div>
                                                </div>

                                                <div style="display: flex; margin-top: 10px;">
                                                    <div style="width: 50px; font-weight: bold; text-align: center;">2.</div>
                                                    <div style="flex: 1; text-align: left;">Keep the prescription and other reports ready.</div>
                                                </div>

                                                <div style="display: flex; margin-top: 10px;">
                                                    <div style="width: 50px; font-weight: bold; text-align: center;">3.</div>
                                                    <div style="flex: 1; text-align: left;">Contact list of your doctor.</div>
                                                </div>

                                                <div style="display: flex; margin-top: 10px;">
                                                    <div style="width: 50px; font-weight: bold; text-align: center;">4.</div>
                                                    <div style="flex: 1; text-align: left;">Make a list of task expected from the nurse.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button id="downloadRegistrationForm" class="btn btn-primary">Download PDF</button>
                </div>
            </div>
        </div>
    </div>



<script>
    document.getElementById('downloadRegistrationForm').addEventListener('click', function () {
        const element = document.querySelector('.registrationFormContent');
        element.style.transform = 'scale(0.8)';
        element.style.transformOrigin = 'top center';
        // Options for html2pdf
        const options = {
            margin: 0,
            filename: 'form.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 3 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        // Generate PDF
        html2pdf().from(element).set(options).save();
    });
    function chooseOption() {
        $.alert({
           // title: '',
            content: 'Do you want to Upload an Image or Capture the face',
            typeAnimated: true,
            backgroundDismiss: false,
            backgroundDismissAnimation: 'glow',
            boxWidth: '30%',
            useBootstrap: false,
            buttons: {
                Yes: {
                    text: 'Upload from Device',
                    btnClass: 'btn btn-info',
                    action: function () {
                        document.getElementById('upload-btn').click();
                        
                    },
                },
                No: {
                    text: 'Capture Image',
                    btnClass: 'btn btn-warning',
                    action: function () {
                        captureImage();
                    },
                },
            },
        });
    }

    function captureImage() {
        var constraints = {
            video: true
        };

        navigator.mediaDevices.getUserMedia(constraints)
            .then(function (stream) {
                var video = document.createElement('video');
                video.autoplay = true;
                video.srcObject = stream;

                var canvas = document.createElement('canvas');
                var context = canvas.getContext('2d');

                video.onloadedmetadata = function () {
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    context.drawImage(video, 0, 0, canvas.width, canvas.height);
                    var imageDataURL = canvas.toDataURL('image/png');

                    var output = document.getElementById('preview-image');
                    output.src = imageDataURL;

                    video.srcObject.getTracks().forEach(track => track.stop());
                };
            })
            .catch(function (error) {
                console.log('Error accessing camera: ', error);
            });
    }

    function previewImage(event) {
        var input = event.target;
        var reader = new FileReader();

        if (input.files && input.files[0]) {
            reader.onload = function (e) {
                var output = document.getElementById('preview-image');
                output.src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        } else {
            alert("Failed to load file");
        }
    }
</script>

