<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-right mb-5">
            <button type="button" class="customBtn" data-toggle="modal" data-target="#userInfoModal">
                Add New City
            </button>
        </div>
    </div>

    <div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog" aria-labelledby="userInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userInfoModalLabel">User Information Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="userForm" novalidate>
                        <div class="form-group">
                            <label for="Name">City Name</label>
                            <input type="text" class="form-control" id="Name" required />
                            <div class="invalid-feedback">Please enter the city name.</div>
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="email" class="form-control" id="Email" required />
                            <div class="invalid-feedback">Please enter a valid email address.</div>
                        </div>
                        <div class="form-group">
                            <label for="MobileNumber1">Mobile Number 1</label>
                            <input type="tel" class="form-control" id="MobileNumber1" required />
                            <div class="invalid-feedback">Please enter a valid mobile number.</div>
                        </div>
                        <div class="form-group">
                            <label for="MobileNumber2">Mobile Number 2 (Optional)</label>
                            <input type="tel" class="form-control" id="MobileNumber2" />
                        </div>
                        <div class="form-group">
                            <label for="OfficeAddress">Office Address (Optional)</label>
                            <input type="text" class="form-control" id="OfficeAddress" />
                        </div>
                        <div class="form-group">
                            <label for="ImageUpload">Upload Image (Optional)</label>
                            <input type="file" class="form-control-file" id="ImageUpload" accept="image/*" />
                        </div>
                        <input type="hidden" id="ImageBase64" />
                        <div class="alert alert-success mt-2" id="successMessage">
                            City added successfully!
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="SaveCityData">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <table id="tablecity" class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Office Address</th>
                        <th>Mobile Number 1</th>
                        <th>Mobile Number 2</th>
                        <th>Email</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tablecity').DataTable();
        GetData();

        $('#successMessage').hide();

        $('#SaveCityData').on('click', function () {
            var name = $('#Name').val();
            var email = $('#Email').val();
            var mobileNumber1 = $('#MobileNumber1').val();
            var mobileNumber2 = $('#MobileNumber2').val();
            var officeAddress = $('#OfficeAddress').val();
            var imageInput = $('#ImageUpload')[0];
            var imageBase64 = '';
            var CityId = $('#CityId').val();

            if ($('#userForm')[0].checkValidity()) {
                if (imageInput.files.length > 0) {
                    var file = imageInput.files[0];
                    var reader = new FileReader();
                    reader.onloadend = function () {
                        imageBase64 = reader.result;
                        $('#ImageBase64').val(imageBase64);
                        submitData();
                    };
                    reader.readAsDataURL(file);
                } else {
                    submitData();
                }
            } else {
                $('#userForm').addClass('was-validated');
            }

            function submitData() {
                $.ajax({
                    url: '/Configuration/AddOrEditCity',
                    type: 'POST',
                    data: {
                        Name: name,
                        Email: email,
                        MobileNumbers: mobileNumber1 + (mobileNumber2 ? ',' + mobileNumber2 : ''),
                        OfficeAddress: officeAddress,
                        ImageBase64: imageBase64,
                        ID: CityId
                    },
                    success: function (response) {
                        if (response) {
                            GetData();
                            $('#userInfoModal').modal('hide');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('An error occurred: ' + error);
                    }
                });
            }
        });

        $('#tablecity').on('click', '.btn-edit', function () {
            var fullData = JSON.parse($(this).attr('data-full-data'));
            BindData(fullData);
        });

        $('#tablecity').on('click', '.btn-delete', function () {
            var ID = JSON.parse($(this).attr('data-id'));
            confirmDelete(ID);
        });
    });

    function confirmDelete(id) {
        $.alert({
            title: 'Alert',
            content: 'Are you sure you want to delete?',
            buttons: {
                Yes: {
                    text: 'Yes',
                    btnClass: 'btn btn-success',
                    action: function () {
                        deleteData(id);
                    },
                },
                No: {
                    text: 'No',
                    btnClass: 'btn btn-warning'
                }
            }
        });
    }

    function BindData(data) {
        $('#Name').val(data.name);
        $('#Email').val(data.email);
        $('#OfficeAddress').val(data.officeAddress);
        $('#MobileNumber1').val(data.mobileNumbers.split(',')[0]);
        $('#MobileNumber2').val(data.mobileNumbers.split(',')[1]);
        $('#CityId').val(data.id);
        $('#userInfoModal').modal('show');
    }

    function deleteData(id) {
        $.ajax({
            type: "POST",
            url: '/Configuration/DeleteCity',
            data: { id: id },
            success: function (response) {
                GetData();
            },
            error: function (response) {
                console.error(response);
            }
        });
    }

    function GetData() {
        var table = $('#tablecity').DataTable();
        $.ajax({
            type: "POST",
            url: '/Configuration/GetCityData',
            success: function (response) {
                table.clear();
                response.data.forEach(function (item) {
                    var mobileNumbers = item.mobileNumbers.split(',');
                    var mobileNumber1 = mobileNumbers[0] ? mobileNumbers[0] : '';
                    var mobileNumber2 = mobileNumbers[1] ? mobileNumbers[1] : '';

                    table.row.add([
                        item.name,
                        item.officeAddress,
                        mobileNumber1,
                        mobileNumber2,
                        item.email,
                        `<img src="${item.imageBase64}" alt="Image" style="width: 50px; height: auto;">`,
                        `<div class="text-center">
                                <i class="fa fa-edit me-4 btn-edit" style="color:green" data-full-data='${JSON.stringify(item).replace(/'/g, "&#39;")}'></i>
                                <i class="fa fa-trash btn-delete" style="color:red" data-id='${JSON.stringify(item.id).replace(/'/g, "&#39;")}'></i>
                            </div>`
                    ]).draw();
                });
            },
            error: function (xhr, status, error) {
                alert('An error occurred: ' + error);
            }
        });
    }
</script>
