
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card" style="background-color:#f7f6fa">
                <div class="card-body">
                    <div class="row p-2" style="display:flex;justify-content:space-evenly">
                        <!-- Date Range Picker Columns -->
                        <div class="col-3 row">
                            <div class="col-4">
                                <label class="mt-1">Start Date:</label>
                            </div>
                            <div class="col-8">
                                <input type="datetime-local" id="startDate" class="form-control" />
                            </div>
                        </div>
                        <div class="col-3 row">
                            <div class="col-4">
                                <label class="mt-1">End Date:</label>
                            </div>
                            <div class="col-8">
                                <input type="datetime-local" id="endDate" class="form-control" />
                            </div>
                        </div>
                        <!-- Multi-select Dropdown Columns -->
                        <div class="col-4 row">
                            <div class="col-4">
                                <label for="multiSelect" class="mt-1">Select User:</label>
                            </div>
                            <div class="col-8">
                                <select id="multiSelect" class="form-control" multiple="multiple">
                                    <option value="php">PHP</option>
                                    <option value="javascript">JavaScript</option>
                                    <option value="java">Java</option>
                                    <option value="sql">SQL</option>
                                    <option value="jquery">Jquery</option>
                                    <option value=".net">.Net</option> 
                                    <option value="javascript">JavaScript</option>
                                    <option value="java">Java</option>
                                    <option value="sql">SQL</option>
                                    <option value="jquery">Jquery</option>
                                    <option value=".net">.Net</option>
                                </select>
                            </div>
                        </div>
                        <!-- Button Column -->
                        <div class="col-2">
                            <button id="btnSubmit" class="customBtn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#multiSelect').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            buttonWidth: '100%'
        });
    });

    //$('#multiSelect').val(['php']);
    //$('#multiSelect').multiselect('rebuild')
</script>